WE:
  SpreadsheetImport:
    cleanupImportFromPreviousDay: 365
    numberOfRecordsToPersist: 100
    default:
      domain: WE\Sample\Domain\Model\User
      arguments:
        - { name: category, domain: 'WE\Sample\Domain\Model\UserCategory', identifier: TRUE }
        - { name: comment, static: 'Sample import' }
